// app global css in SCSS form

@media only screen and (max-width: 600px) {
  .container {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 70vw;
  }
}

// app global css in SCSS form

h1 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h2 {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h6 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

p {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.gradiente {
  background: linear-gradient(155deg, #3C8979 8.09%, #58DABF 91.06%);
}

.gradiente_cinza {
  background: var(--gradiente, radial-gradient(50% 50% at 50% 50%, #FFF 0%, #DBDBDB 100%));
}

a {
  text-decoration: none
}
